{% extends "base.html" %}

{% block content_title %}
<a>Upload file</a>
{% endblock content_title %}

{% block content %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form }}</p>
            <p>
                {{ form.file.errors }}
            </p>
            <p class="submit"><input type="submit" class="submit" value="Upload" /></p>
        </form>
        
{% endblock content %}